#heroshot-section{
	padding:0;
}
.video__wrapper{
	height: -moz-calc(100%);
 	height: -webkit-calc(100%);
 	height: calc(100%);
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    
	.video__wrapper--item{
		height:inherit;
	    overflow: hidden;		
		height: 100%;

		iframe {
	    	position: absolute;    /* expand to fill */
		    width: 100%;
		    height: 100%;
		    top: 0px;
		    left: 0px;
		    right: 0px;
		    bottom: 0px;
			cursor: pointer;	
		}
	}	
}

.slider__wrapper{
	width: 100%;
	height:80%;
	z-index:1;
	.slider{
		height: 100%;
		background-size: cover;
	    z-index: 1;
		.slider__img{
			width: 100%;
			height: 100%;
			background-size: cover !important;
			background-position:center center;
			background-repeat:no-repeat;

			&:before{
				content:'';
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
				background:rgba(#000, 0.2);
			}
		}
		&.container--fluid-fw{
			padding-left:0;
			padding-right:0;
		}		
	}
}

.slider-wrapper--fs{
	height:100% !important;
}

.heroshot__wrapper{
	height: 100%;
	z-index:1;
	.heroshot {
	    width: 100%;
	    height:100%;	     
	    position: relative;
	    overflow: hidden;
	    background-color: #000;
	    background-repeat: no-repeat;
	    background-position: top center;
	    background-size: cover;
	  	z-index: 1;

	    .heroshot__heading{
	    	color:$white;
	    	text-transform: uppercase;
	    	text-align: center;
	    }
	    
	}
	&.heroshot--fs{
		height:100% !important;
	}
}

.page__photo__caption{
	width:100%;
	max-width:970px;
	position:absolute;
	text-align: center;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	
	.page__photo__caption__text{
		font-family: $ff-raleway;
		font-weight: 500;
		color:$white;
		font-size: 44px;
		line-height:52px;
		padding:0px 20px;
	    text-shadow: -1px 4px 6px rgba(89,89,89,.35);
	}
	
	&:before, &:after{
		content:'';
		display: inherit;
		margin: 5px 0px;
		padding-bottom: 15px;
	}
	&.page__photo__caption--ghost{
		pointer-events: none;
	}
}

.no-heroshot > #main{
	padding-top: 50px;
}
#main{
	z-index: 2;
    position: relative;
}
#noheroshot-section{
	padding-top: 50px;
	.page__heading {
		background:$white;
		text-align:center;
		margin: 0;
		padding: 15px 0;
	}
}

.slider__nav{
	position:absolute;
	top:50%;
	width:50px;
	height:50px;
	z-index: 2;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	font-size: 40px;
	line-height:45px;
	color:$white;
	cursor: pointer;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	i{
		padding:0px 15px;
	}
	
	&:hover{
		color:$green;
	}
}

.slider__nav--prev{
	left:30px;

}
.slider__nav--next{
	right:30px;
	text-align: right;
}

.hero__scroll{
	color: $white;
	text-transform:uppercase;
	position:absolute;
	bottom:20px;
	left:50%;
	transform: translateX(-50%);
	-webkit-transform: translate(-50%);
	display: block;
	cursor: pointer;
	z-index:2;
	font-size:44px;
	text-align:center;

	span{
		font-weight: $fw-regular;
	}

	&:hover{
		color: $green;
	}
}

.hero__badge{
	content: " ";	
	background: graphics-path('sprite.png') no-repeat -9px -8px;
	width: 144px;
	height: 151px;
	margin:15px auto;
	position: relative;
    display: block;
    transform: rotateY(0);    
    -webkit-transform: rotateY(0);
    transition: all 500ms;
	-webkit-transition: all 500ms;
}
.header__badge{

	content: " ";	
	background: graphics-path('sprite.png') no-repeat -160px -8px;
	width: 40px;
	height: 32px;
	margin:15px auto;
	position: relative;
    display: block;
    transform: rotateY(0);    
    -webkit-transform: rotateY(0);
    transition: all 500ms;
	-webkit-transition: all 500ms;
}

.review__avatar{
	content: " ";	
	background: graphics-path('sprite.png') no-repeat -160px -8px;
	width: 40px;
	height: 32px;
	margin:15px auto;
	position: relative;
    display: block;
    transform: rotateY(0);    
    -webkit-transform: rotateY(0);
    transition: all 500ms;
	-webkit-transition: all 500ms;
}

@media screen and (max-width:767px){

	.hero__badge{
		// content: " ";	
		background: graphics-path('sprite.png') no-repeat -160px -56px !important;
		width: 78px !important;
		height: 82px !important;
		// margin:15px auto;
		// position: relative;
	 //    display: block;
	 //    transform: rotateY(0);    
	 //    -webkit-transform: rotateY(0);
	 //    transition: all 500ms;
		// -webkit-transition: all 500ms;
	}
		
	/* ==| HEROSHOT ============================= */
	.page__photo__caption{
		.page__photo__caption__text{
			font-size:22px !important;
			line-height:26px !important;
		}
		.btn{
			margin:0px;
		}
	}
}


@media screen and (max-width:991px){

	/* ==| HERO SHOT, SLIDER, VIDEO ============================= */
	.page__photo__caption{
		.page__photo__caption__text{
			font-size:32px;
			line-height:38px;
		}
	}
	
	.page__photo__caption{
		padding:0 30px;
	}

	.slider__nav--prev{
		left:0px;

	}
	.slider__nav--next{
		right:0px;
	}

	.hero__scroll{
		bottom: 15px;
	}
}

@media screen and (max-width: 1199px){

	.no-heroshot > #main{
		padding-top: 140px;
	}

}

.section--partners .slick-slide img {
	width: 100%;
}