.icon-sync-user {
	background:url("/graphics/trial.png");
	background-repeat: no-repeat;
	width:28px;
	height:27px;
	float: left;
	margin-top: 4px;
    margin-right: 8px;
	background-size: cover;
}

.icon-trial {
	padding-bottom: 30px;
	width: 50px;
}
