.sidebar__heading{
	font-family:$ff-raleway;
	font-weight:$fw-bold;
	font-size:20px;
	line-height:30px;
	text-transform:uppercase;
}

.sidebar{
	border-top:5px solid $light-gold;
	padding: 15px 30px;

	ul{
		list-style:none;
		padding-left:0px;

		li{
			color: $white;
			font-size:16px;
			line-height:28px;
			font-weight:$fw-regular;
			margin-bottom:15px;
			display: inline-flex;
    		width: 100%;

			&:before{
				content:'\f00c';
				font-family:$ff-fa;
				color:$light-gold;
				margin-right:15px;
			}
		}
	}
}