<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    ==ex_meta_taga==
    <meta name="author" content="==company==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title=="/>
    <meta property="og:description" content="==mdescr=="/>
    <meta property="og:url" content="==og_url=="/>
    <meta property="og:image" content="==og_image=="/>
    <meta property="og:site_name" content="==company=="/>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500|Poppins:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
    <link rel="shortcut icon" href="==favicon_path==">
    <link rel="stylesheet" href="==css_path==">

    <script src="==modernizr_path=="></script>
    ==js_code_head_close==
    ==adwords_code==
</head>
<body==body_cls==>
==js_code_body_open==
<header class="primary__header">
    <div class="logo">
        <a href="/">
            <img src="/graphics/logo.png" alt="RTBS"/>
        </a>
    </div>
    <div class="container-fluid container--fluid-fw">
        <div class="nav__top">
            <div class="nav-toggle">
                <i class="fa-bars fa"></i>
            </div>
        </div>
        ==nav-main==
    </div>
</header>
==btn_enquire==
==btn_support==
==slideshow_view==

<main id="main">
    <div class="container margin-bottom">
        <div class="row">
            <div class="col-md-6">==main_content==</div>
            <div class="col-md-6">==homepage_youtube==</div>
        </div>
    </div>
    ==mod_view==
</main>
<footer id="footer">
    <section class="section bg--black">
        <div class="container container-fw footer__lower">
            <div class="row">
                ==footer_three_columns==
                <div class="col-xs-12 col-md-3">
                    <h4 class="footer__top_title text-up">Case Studies</h4>
                    <ul class="footer__top_ul">
                        ==case_study_list_items==
                    </ul>
                </div>
            </div>
            <div class="row">
                <hr/>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3 footer__bottom_logo">
                    <p><img src="/graphics/logo-white.png" alt=""/></p>
                    <p><img src="/graphics/whytelogo.png" alt=""/></p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4 class="footer__bottom_title text-cap">RTBS Support Business Hours</h4>
                    <ul class="footer__bottom_ul">
                        ==footer_column_1==
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4 class="footer__bottom_title text-cap">RTBS Support After Hours</h4>
                    <ul class="footer__bottom_ul">
                        ==footer_column_2==
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4 class="footer__bottom_title text-cap">Whyte Waters Group</h4>
                    <ul class="footer__bottom_ul">
                        ==footer_column_3==
                    </ul>
                    ==social==
                </div>
            </div>
        </div><!-- /.footer__lower -->
    </section>
    <div class="footer__credit text-center">
        <p>
            <span class="footer__copyright">==copyright==</span>
            <span class="footer__credits">==credits==</span>
        </p>
    </div>
</footer><!-- /#footer -->
==body_html==
==scripts-load-top==
==jsVars==

<script src="==vender_js_path=="></script>
==script-ext==
==chat_script==
<script async src="==js_path==" onload="app.init();"></script>
==js_code_body_close==
</body>
</html>